


body { 
    background: url("images/EYE.jpg");
    height: 900px;
}

h1 { 
    
    margin-left: 550px;
    margin-top: 100px;
    
    
}
h2 { 
    
    margin-left: 480px;
    margin-top: 100px;
}
.top { 
    color: orangered;
    margin-top: 60px;
}
 .content { 
    margin: auto;
    
    margin-top: 230px;
    height: 300px;
    width: 300px;
    color: white;
    background: url("images/question-1018843_1280.jpg");
    background-position: center;
    
    animation-name: example;
    animation-duration: 4s;
}
.words { 
  
    height: 80px;
   
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:50px; top:0px;}
    50%  {background-color:blue; left:50px; top:50px;}
    75%  {background-color:green; left:0px; top:50px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  h4 { 
    
    margin-left: 580px;
    margin-top: 100px;
  }